*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 5px;
   text-align: center;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #b6d7eb 0%, #4dafb1 100%);
}

.container{
    background-color: #ffffffc7;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width:480px;
    height: 650px;
}
.form{
    padding: 18px;
}
.form2{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form2 label{
    display: inline-block;
    margin-bottom: 5px;
}

.form2 input{
    border: 2px solid #dcdcdc;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    background-color: #ffffffcc;
}


/* Estilizaçã dos icones */
.form2 i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form2 small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


/* Estilização do botão */
button{
    margin-top: 8px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #47677b;
    width: 100%;
    border: none;
}
  

/* error ou success */
.form2 input.error {
    border: 2px solid rgb(217, 0, 0);
  }
  
  .form2 input.success {
    border: 2px solid rgb(0, 255, 0);
  }


  
  /*Responsividade */
@media (max-width: 600px) {
    .container {
        width: 80%;
        height: 650px;
    }
}
  
@media (max-width: 480px) {
    .container {
        width: 90%;
        height: 650px;
    }

    #username, #email, #tel, #senha, #senhaConfirm,
    .form2 input[type="number"] {
        font-size: 12px;
    }
}
